name: Bump Version and Publish

on:
  workflow_dispatch:
    inputs:
      version_type:
        description: "Select the type of version you want to release"
        required: true
        type: choice
        default: "patch"
        options:
          - patch
          - minor
          - major

jobs:
  bump-and-publish:
    runs-on: ubuntu-latest
    environment: Publish

    permissions:
      contents: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install bumpver build twine

      - name: Configure Git user
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Bump version (${{ github.event.inputs.version_type }})
        run: |
          bumpver update --${{ github.event.inputs.version_type }} --commit --tag
          git push origin HEAD:master
          git push origin --tags

      - name: Build package
        run: python -m build

      - name: Upload to PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          python -m twine upload --skip-existing dist/*
